@model Adress

@{
    ViewData["Title"] = "Create";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Ünvan</h4>
                    <span>
                        Ünvan əlavə et.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-action="index" asp-controller="dashboard"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a>Ünvan</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="card p-3">
        <div class="card-block">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input required asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Aid olduğu inzibati ərazi (əgər varsa)</label>
                    <select asp-for="ParentId" class="form-control select2" asp-items="ViewBag.ParentId">
                        <option selected disabled>---Birini Seçin---</option>
                    </select>
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                </div>
                <div class="col-12 col-lg-6">
                    <label asp-for="ShippingPrice" class="control-label">Çatdırılma Qiymət</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">&#8380;</span>
                        </div>
                        <input asp-for="ShippingPrice" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-info btn-icon"><i class="icofont-arrow-left"></i></a> |
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

