<nav class="main-nav">
    <ul class="menu">
        <li class="active">
            <a asp-controller="home" asp-action="index">Ana səhifə</a>
        </li>
        <li>
            <a asp-controller="shop">Məhsullar</a>
        </li>
        <li>
            <a asp-action="about" asp-controller="home">Haqqımızda</a>
        </li>
        <li>
            <a asp-action="contact" asp-controller="home">Əlaqə</a>
        </li>
        <li>
            <a asp-action="faq" asp-controller="home">Ən çox verilən suallar</a>
        </li>
    </ul>
</nav>
