
@{
    ViewData["Title"] = "AccessDenied";
}
<main class="main">
    <div class="page-content">
        <section class="error-section d-flex flex-column justify-content-center align-items-center text-center pl-3 pr-3">
            <h1 class="mb-2 ls-m">Girişiniz qadağandır</h1>
            <img src="~/assets/images/subpages/404.png" alt="error 404" width="609" height="131">
            <h4 class="mt-7 mb-0 ls-m text-uppercase">Ooopps.! Səhifə tapılmadı</h4>
            <a asp-action="index" asp-controller="home" class="btn btn-primary btn-rounded mb-4">Ana səhifəyə qayıdın</a>
        </section>
    </div>
</main>

