@model IEnumerable<Faq>
@{
    ViewData["Title"] = "Faq";
}
<nav class="breadcrumb-nav">
    <div class="container">
        <ul class="breadcrumb">
            <li><a asp-action="index"><i class="d-icon-home"></i></a></li>
            <li>FAQs</li>
        </ul>
    </div>
</nav>
<div class="page-header" style="background-image: url(/assets/images/page-header/faq.jpg)">
    @*<h3 class="page-subtitle lh-1"> </h3>*@
    <h1 class="page-title font-weight-bold text-capitalize lh-1">@Navbar.FAQs</h1>
</div>
<div class="page-content mb-10 pb-8">
    <section>
        <div class="container">
            <div class="row">
                @foreach (var faq in Model)
                {
                    int id = faq.Id;
                    <div class="col-md-6 mt-10">
                        <div class="accordion accordion-border accordion-boxed accordion-plus">
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse@(id)" class="collapse">
                                        @faq.Question
                                    </a>
                                </div>
                                <div id="collapse@(id)" class="expanded">
                                    <div class="card-body">
                                        <p>
                                            @faq.Answer
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>
@section css{
    <link href="~/assets/css/demo23.min.css" rel="stylesheet" />
}
